/* CUSTOM-PROPS */
:root {
  --black: #000000;
  --light-black: #263238;
  --gray: #8F95A5;
  --light-gray: #F5F5F5;
}

/* FONT-FACE  */
/* FONT-FACE  */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format('woff2'),
      url("../fonts/Poppins-SemiBold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format('woff2'),
      url("../fonts/Poppins-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format('woff2'),
      url("../fonts/Poppins-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: #222;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 3px dashed rgb(7, 5, 5);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1380px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

/* BUTTONS */
.button {
  text-decoration: none;
  color: var(--light-black);
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  padding: 17px 50px;
  text-transform: capitalize;
  transition: 0.3s ease;
}
.button--white{
  border: 2px solid var(--light-black);
  border-radius: 5px;
}
.button--white:hover{
  background-color: var(--light-black);
  color: #fff;
}
.button--white:active{
  background-color: var(--light-black);
  color: #fff;
  opacity: 0.8;
}
.hero__button{
  margin-top: 60px;
}
.button--black {
  color: #fff;
  background-color: var(--light-black);
  border-radius: 5px;
  padding: 15px 50px;
}
.button--black:hover{
  opacity: 0.8;
}


/* SITE-HEADER */
.site-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.site-header__container {
  display: flex;
  align-items: center;
  text-align: center;
}
.site-header__logo-link {
  text-decoration: none;
}
.site-header__logo-link:hover{
  opacity: 0.6;
}
.site-header__logo-link:active{
  opacity: 0.8;
}
.sitenav{
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.sitenav__list {
  margin:0;
  display: flex;
  list-style: none;
}
.sitenav__item:not(:last-child) {
  margin-right: 20px;
}
.sitenav__link {
  text-decoration: none;
  color: var(--light-black);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500; 
}
.sitenav__link:hover{
  opacity: 0.8;
}
.sitenav__link:active{
  opacity: 0.6;
}


/* HERO */
.hero__container{
  display: flex;
  align-items: center;
}
.hero__heading{
  margin: 0;
  padding: 0;
  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
}
.hero__text{
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: var(--gray);
}
.hero__icon{
  display: block;
  object-fit: contain;
  position: absolute;
  right: 60%;
  top: 60%;
}
.hero__img{
  margin-left: auto;
}

/* SKILLS */
.skills__container {
  align-items: center;
  justify-content: center;
}
.skills__heading {
  color: var(--black);
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
.skills__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.card__info-speaking{
  margin-top: 20px;
}
.card__info-reading{
  margin-top: 50px;
}

.skills__card {
  padding: 35px 34px;
  background-color: var(--light-gray);
  border-radius: 10px;
  align-items: center;
}
.skills__card:first-child{
  grid-row-start: 1;
  grid-row-end: 3;
}
.skills__card:last-child{
  flex-direction: row-reverse;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
}
.card__title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 80px;
  font-weight: 600;
  color: var(--light-black);
}
.skills__text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gray);
}
.skills__button{
    margin-top: 35px;
}
.skills__button-dropper{
  margin-top: 50%;
}


/* ABOUT-US */
.about-us {
  margin-top: 250px;
  padding-bottom: 50px;
}

.about-us__container {
  display: flex;
  align-items: center;
}

.about-us__heading {
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  color:var(--black);
  margin: 0;
}

.about-us__text {
  font-size: 20px;
  line-height: 30px;
  color: var(--gray);
  font-weight: 400;   
  width: 600px; 
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px -50px -120px;
}

.info__text-number-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
  margin-bottom: 50px;
}

.info__text {
  white-space: nowrap;  
  font-size: 20px;
  line-height: 30px;
  color: var(--gray);
  font-weight: 400;
}

.info__number {
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  color: #2a3246;
  margin: 0;
  order: -1;
}

.about-us__img {
  margin-left: auto;
}


/* MEDIA */
@media only screen and (max-width: 1000px) {
  body {
    font-size: 14px;
  }
/* site-header */
  .container{
    padding-top: 55px;
    padding-bottom: 55px;
  }

  /* hero */
  .hero__heading{
    font-size: 48px;
    margin-bottom: 27px;
    line-height: 60px;
  }

  .hero__img{
    width: 460px;
    height: 460px;
  }

  .hero__text{
    font-size: 20px;
  }

  /* skills card */
  .card__img-speaking{
    width: 260px;
    height: 260px;
  }

  .card__img-writing{
    width: 205px;
    height: 205px;
  }

  .card__img-reading{
    width: 243px;
    height: 152px;
  }

  .card__img-listening{
    width: 243px;
    height: 162px;
  }

  /* about-us */
  .about-us{
      margin-top: 105px;
  }

  .about-us__heading{
    font-size: 36px;
  }

  .about-us__text{
    font-size: 16px;
    line-height: normal;
  }

  .info{
    margin-top: 30px;
  }

  .info__text{
    font-size: 16px;
  }

  .info__number{
    line-height: normal;
    font-size: 30px;
  }

  .about-us__img{
    margin-top: 40px;
    width: 336px;
    height: 336px;
  }

}
